<h1 class="text-white text-center display-2 mt-5 mb-5">Update Password</h1>
<% if(error && error.message){ %>
    <div class="alert alert-danger" role="alert">
        <li>
            <%= error.message %>
        </li>
    </div>
    <% } %>
        <% if (success.statusCode=="200" ) { %>
            <div class="alert alert-success">
                <%= success.message %>
            </div>
            <script>
                setTimeout(function () {
                    window.location.href = '/login';
                }, 2000); // Redirect after 3 seconds
            </script>
            <% } %>
                <form action="/forgotpassword/reset" method="post" class="mx-auto" style="max-width: 400px;">
                    <div class="mb-3 form-group">
                        <label class="text-white form-label" for="newPassword">New Password</label>
                        <input type="password" class="form-control" id="newpassword" name="newPassword"
                            placeholder="New Password">
                    </div>
                    <div class="mb-3 form-group">
                        <label class="text-white form-label" for="confirmPassword">Re-enter new Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                            placeholder="Re-enter Password">
                    </div>
                    <button type="submit" class="btn btn-primary mt-3 p-2 w-100">Submit</button>
                </form>