<h1 class="text-white text-center display-2 mt-5 mb-5">Forget Password</h1>
<% if(error && error.message){ %>
    <div class="alert alert-danger" role="alert">
        <li>
            <%= error.message %>
        </li>
    </div>
    <% } %>
        <%if (locals.otp) {%>
            <p class="text-center text-white h5 mt-4">OTP <%= locals.otp %>
            </p>
            <form action="/forgotpassword/otp" method="post" class="mx-auto" style="max-width: 400px;">
                <div class="mb-3 form-group">
                    <label class="text-white form-label" for="otp">Enter OTP</label>
                    <input type="text" class="form-control" id="otp" name="otp" placeholder="Enter OTP to verify">
                </div>
                <button type="submit" class="btn btn-primary mt-3 p-2 w-100">Submit</button>
            </form>
            <form action="/forgotpassword/resendotp" method="post" class="mx-auto" style="max-width: 400px;">
                <div class="mb-3 form-group">
                    <label hidden class="text-white form-label" for="otp">Resent OTP</label>
                    <input hidden type="text" class="form-control" id="otp" name="otp"
                        placeholder="Enter OTP to verify">
                </div>
                <button type="submit" class="btn btn-primary mt-3 p-2 w-100">Resend Otp</button>
            </form>
            <% } else {%>
                <form action="/forgotpassword" method="post" class="mx-auto" style="max-width: 400px;">
                    <div class="mb-3 form-group">
                        <label class="text-white form-label" for="email">Email Address</label>
                        <input class="form-control" id="email" name="email" placeholder="Email Address">
                    </div>
                    <button type="submit" class="btn btn-primary mt-3 p-2 w-100">Submit</button>
                </form>
                <% } %>